push.bat
obj
bin
*.orig
.sass-cache/*
.idea/*
src/CommonAssemblyInfo.cs
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.suo
*.cache
*.user
*.dbmdl
*.dotcover
~$*
.orig
.sass-cache
*.Publish.xml
*.crunchproject.local.xml
*.crunchsolution.local.xml
*.MDF
*.ldf
*.dump
*.rdb
error*.xml
**/Raven/*
*.transformed.config
/packages
/build
src/*.dll
_Chutzpah.*
ghost_bridge_specs.*
*.nupkg